name: qr_utils
description: A new Flutter QR scanner and generator plugin.
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    androidPackage: com.aeologic.adhoc.qr_utils
    pluginClass: QrUtilsPlugin


